<%= stylesheet_link_tag 'form' %>

<% title 'Sign in' %>

<% form_tag(session_path, :class => 'login_form') do %>
  <div>
    <%= label_tag 'email' %>
    <%= text_field_tag 'email' %>
  </div>
  <div>
    <% content_tag :label, :for => 'password' do %>
      Password
      (<%= link_to 'Lose your password?', new_lost_password_path %>)
    <% end %>
    <%= password_field_tag 'password' %>
  </div>
  <div>
    <%= submit_tag 'Sign in' %>
  </div>
<% end %>