<% title 'Login' %>

<% form_tag(login_path, :class => 'login_form') do %>
  <div>
    <%= label_tag :email %>
  </div>
  <div><%= text_field_tag :email, email_login_value, :tabindex => 1 %></div>
  <div>
    <% content_tag :label, :for => :password do %>
      Password
      (<%= link_to 'Lose your password?', new_lost_password_path %>)
    <% end %>
  </div>
  <div>
    <%= password_field_tag :password, {}, :tabindex => 2 %>
  </div>
  <div class="checkbox">
    <%= check_box_tag :remember_me, '1', params[:remember_me].present?, :tabindex => 3 %>
    <%= label_tag :remember_me %>
  </div>
  <div style="submit">
    <%= submit_tag 'Login' %>
  </div>
<% end %>

<%= focus email_login_value.blank? ? 'email' : 'password' %>