<%= stylesheet_link_tag 'form' %>

<% title 'Sign in' %>

<% form_tag(login_path, :class => 'login_form') do %>
  <div>
    <p><%= label_tag :email %></p>
    <p><%= text_field_tag :email, params[:email] %></p>
  </div>
  <div>
    <p>
      <% content_tag :label, :for => :password do %>
        Password
        (<%= link_to 'Lose your password?', new_lost_password_path %>)
      <% end %>
    </p>
    <p><%= password_field_tag :password %></p>
  </div>
  <div>
    <%= check_box_tag :remember_me, "1", params[:remember_me].present? %>
    <%= label_tag :remember_me %>
  </div>
  <div>
    <%= submit_tag 'Sign in' %>
  </div>
<% end %>