<% title 'Login' %>

<% if flash[:warning].present? %>
  <%= content_tag :div, flash[:warning], class: 'warning' %>
<% end %>

<h2>Log in</h2>

<%= form_tag(login_path, class: 'login_form') do %>
  <div>
    <%= label_tag :email %>
  </div>
  <div><%= text_field_tag :email, email_login_value %></div>
  <div>
    <label for="password">
      Password
      (<%= link_to 'Lose your password?', new_lost_password_path %>)
    </label>
  </div>
  <div>
    <%= password_field_tag :password, {} %>
  </div>
  <div class="checkbox">
    <%= check_box_tag :remember_me, '1', params[:remember_me].present? %>
    <%= label_tag :remember_me %>
  </div>
  <div class="submit">
    <%= submit_tag 'Login' %>
  </div>
<% end %>

<%= focus email_login_value.blank? ? 'email' : 'password' %>