<% title current_assignment.name %>

<h2>
  <%= current_assignment.name %>
  <%= link_to 'Import from Google Docs' %>
  <%= link_to 'Import Word Document' %>
</h2>

<%= yui_stylesheet 'assets/skins/sam/skin' %>

<%= form_for current_composition, :url => studying_assignment_path(current_course, current_assignment),
                                 :html => {
                                   :method  => :put,
                                   :style   => 'display:none',
                                   :id      => 'composition-form' } do |f| %>
  <div>
    <%= f.text_area :text %>
  </div>
  <%= f.hidden_field :hand_in, :value => false %>
  <div class="submit-cancel">
    <%= cancel %>
    <%= f.submit 'Save draft', :id => 'save-draft' %>
    <%= f.submit 'Turn this in', :id => 'turn-in' %>
  </div>
<% end %>

<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event',
                   'element/element-min',
                   'container/container_core-min',
                   'editor/simpleeditor-min' %>

<script>
YAHOO.util.Event.onDOMReady(function() {
  var editor = new YAHOO.widget.SimpleEditor('composition_text', {
    height: '300px', 
    width: '100%', 
    dompath: true, 
    focusAtStart: true
  });
  editor.render();
  editor.on('editorContentLoaded', function() {
    document.getElementById('composition-form').style.display = 'block';
  });
  
  YAHOO.util.Event.on('save-draft', 'click', function() {
    editor.saveHTML();
  });

  YAHOO.util.Event.on('turn-in', 'click', function() {
    editor.saveHTML();
    document.getElementById('composition_hand_in').setAttribute('value', '1');
  });
});
</script>