<script>
$(function() {
  $('#assignment_due_date').datepicker();
});
</script>

<%= form_for [:teaching, @assignment], html: {id: 'assignment-form'} do |f| %>
  <div>
    <div><%= f.label :name, 'Assignment name' %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.error_message_on :name, prepend: 'Name ' %></div>
  </div>
  <div class="due-fields">
    <div id="due-date">
      <div><%= f.label :due_date, 'Due date' %></div>
      <div>
        <%= f.text_field :due_date, value: default_assignment_due_date(@assignment), autocomplete: 'off' %>
      </div>
      <%= date_format_div @assignment, :due_date %>
    </div>
    <div id="due-time">
      <div><%= f.label :due_minutes, 'Due time' %></div>
      <div>
        <%= f.select :due_minutes, assignment_due_minute_options, {selected: default_assignment_due_minutes(@assignment)} %>
      </div>
    </div>
    <br />
  </div>
  <div class="submit-cancel">
    <%= cancel %>
    <%= f.submit save_assignment_text(@assignment) %>
  </div>
<% end %>

<%= focus 'assignment_name' %>