<% if @past_assignments.any? %>
  <div class="past">
    <div class="header">Past assignments</div>
    <ul>
      <% @past_assignments.each do |assignment| %>
        <li class="assignment">
          <%= link_to truncate(assignment.name, length: 35), teaching_assignment_path(current_course, assignment) %>
          <span class="due-date">
            due <%= relative_date(assignment.due_date) %>
          </span>
          <div class="options">
            <% if assignment.submissions.ungraded.any? %>
              <%= link_to pluralize(assignment.submissions.ungraded.count, 'ungraded submission'),
                          teaching_assignment_path(current_course, assignment) %>
            <% else %>
              <%= link_to 'All submissions graded', teaching_assignment_path(current_course, assignment) %>
            <% end %>
            |
            <%= link_to 'Edit', edit_teaching_assignment_path(current_course, assignment) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
