<% form_for @assignment, :url => teaching_assignments_path(current_course) do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
  </div>
  <div>
    <p><%= f.label :description %></p>
    <p><%= f.text_field :description %></p>
  </div>
  <div>
    <p><%= f.label :due_at, 'Due date' %></p>
    <p><%= f.text_field :due_at %></p>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>