<% form_for @assignment, :url => teaching_assignments_path(current_course),
                         :html => {:id => 'assignment-form'} do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name, :tabindex => 1 %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Name ' %></p>
  </div>
  <div class="fields">
    <div id="due-date">
      <p><%= f.label :due_date, 'Due date' %></p>
      <p>
        <%= f.text_field :due_date, :value => assignment_due_date(@assignment), :tabindex => 2, :autocomplete => 'off' %>
      </p>
      <div class="calendar-wrap">
        <div class="calendar"></div> 
      </div>
      <p><%= f.error_message_on :due_date, :prepend_text => 'Due date ' %></p>
    </div>
    <div>
      <p><%= f.label :due_minutes, 'time' %></p>
      <p>
        <%= f.select :due_minutes, hour_options, {:selected => assignment_due_minutes(@assignment)}, {:tabindex => 3} %>
      </p>
    </div>
    <br />
  </div>
  <div>
    <p>
      <%= f.check_box :handout, :checked => assignment_handout(@assignment), :tabindex => 4 %>
      <%= f.label :handout, 'Email students about this new assignment' %>
    </p>
  </div>
  <div>
    <%= f.submit 'Create assignment' %>
  </div>
<% end %>

<%= focus 'assignment_name' %>

<%= yui_stylesheet 'calendar/assets/skins/sam/calendar' %>
<%= stylesheet_link_tag 'date_selector' %>

<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event', 'calendar/calendar-min' %>
<%= javascript_include_tag 'date_selector' %>

<script>
YAHOO.util.Event.onDOMReady(function() {
  HW.dateSelector('due-date');
});
</script>