<% form_for @assignment, :url => teaching_assignments_path(current_course) do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
  </div>
  <div>
    <p><%= f.label :due_date, 'Due date' %></p>
    <p><%= f.text_field :due_date %></p>
  </div>
  <div>
    <p><%= f.label :due_minutes %></p>
    <p><%= f.time_select :due_minutes %></p>
  </div>
  <div>
    <p><%= f.label :description %></p>
    <p><%= f.text_area :description %></p>
  </div>
  <div>
    <%= f.submit 'Create assignment' %>
  </div>
<% end %>

<%= focus 'assignment_name' %>