<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event', 'calendar/calendar' %>
<%= yui_stylesheet 'calendar/assets/skins/sam/calendar' %>
<%= javascript_include_tag 'date_selector' %>

<% form_for @assignment, :url => teaching_assignments_path(current_course) do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Name ' %></p>
  </div>
  <div>
    <p><%= f.label :due_date, 'Due date' %></p>
    <p>
      <%= f.text_field :due_date, :value => assignment_due_date(@assignment) %>
      <%= f.select :due_minutes, hour_options, :selected => assignment_due_minutes(@assignment) %>
    </p>
    <p><%= f.error_message_on :due_date, :prepend_text => 'Due date ' %></p>
  </div>
  <div>
    <p>
      <%= f.check_box :handout, :checked => assignment_handout(@assignment) %>
      <%= f.label :handout, 'Email students about this new assignment' %>
    </p>
  </div>
  <div>
    <%= f.submit 'Create assignment' %>
  </div>
<% end %>

<%= focus 'assignment_name' %>