<% form_for @assignment, :url => teaching_assignments_path(current_course) do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Name ' %></p>
  </div>
  <div>
    <p><%= f.label :due_date, 'Due date' %></p>
    <p><%= f.text_field :due_date %></p>
    <p><%= f.error_message_on :due_date, :prepend_text => 'Due date ' %></p>
  </div>
  <div>
    <p><%= f.label :due_minutes %></p>
    <p><%= f.select :due_minutes, hour_options %></p>
  </div>
  <div>
    <%= f.submit 'Create assignment' %>
  </div>
<% end %>

<%= focus 'assignment_name' %>