<% form_for @assignment, :url => teaching_assignments_path(current_course) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :due_at, 'Due date' %>
    <%= f.text_field :due_at %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>