<h2>
  <%= @assignment.name %>
  <%= link_to 'Edit name and due date', edit_teaching_assignment_path(current_course, @assignment) %>
</h2>

<div class="due-date">
  Due <%= relative_date @assignment.due_date %>
</div>
<% if @submissions.empty? %>
  <div class="welcome">
    No students have submitted homework for this assignment.
  </div>
<% else %>
  <strong>Ungraded</strong>
  <ul>
    <% @submissions.ungraded.each do |submission| %>
      <li class="submission">
        <%= link_to submission.studier.full_name, teaching_composition_path(current_course, submission) %>
        <%= link_to composition_preview(submission, 200), teaching_composition_path(current_course, submission), class: 'preview' %>
        <div class="handed-in-at">
          Turned in 
          <% if @assignment.late_submission? submission %>
            <span class="late">
              <%= distance_of_time_in_words(@assignment.due_at, submission.handed_in_at) %> late
            </span>
          <% end %>
          at <%= hour(submission.handed_in_at) %>,
          <%= submission.handed_in_at.strftime('%b %d') %>
        </div>
      </li>
    <% end %>
  </ul>
  <strong>Graded</strong>
  <ul>
    <% @submissions.ungraded.each do |submission| %>
    <% end %>
  </ul>
<% end %>
