<h2>
  <%= @assignment.name %>
  <%= link_to 'Edit settings', edit_teaching_assignment_path(current_course, @assignment) %>
</h2>

<div id="assignment-show">
  <div class="due-date">
    Due <%= relative_assignment_due_date @assignment %>
  </div>
  <% if @submissions.empty? %>
    <div class="welcome">
      No students have submitted homework for this assignment.
    </div>
  <% else %>
    <strong>Submissions</strong>
    <ul>
      <% @submissions.each do |submission| %>
        <li class="composition">
          <%= link_to submission.studier.full_name, teaching_submission_path(current_course, submission) %>
          <span class="preview">
            <%= submission.preview 200 %>
          </span>
          <div class="handed-in-at">
            Submitted <%= submission_handed_in_at(submission) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>