<%= form_for current_person, {
  url: person_path,
  html: {
    method: :put,
    id: 'change-password'} } do |pw| %>
  <div>
    <div><%= pw.label :password, 'New password' %></div>
    <div><%= pw.password_field :password, autocomplete: 'off' %></div>
  </div>
  <div class="submit">
    <%= pw.submit 'Change password' %>
  </div>
<% end %>

<%= focus 'person_password' %>