<%= stylesheet_link_tag 'form' %>

<% title 'Start a free course' %>

<% form_for @registration do |f| %>
  <div>
    <p><%= f.label :full_name, 'Your name' %></p>
    <p><%= f.text_field :full_name %></p>
    <p><%= f.error_message_on :full_name, :prepend_text => 'Your name ' %></p>
  </div>
  <div>
    <p><%= f.label :email %></p>
    <p><%= f.text_field :email %></p>
    <p><%= f.error_message_on :email, :prepend_text => 'Email ' %></p>
  </div>
  <div>
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    <p><%= f.error_message_on :password, :prepend_text => 'Password ' %></p>
  </div>
  <div>
    <%= f.submit 'Start your free course' %>
  </div>
<% end %>