<% title 'Enroll students' %>

<h2>Enroll students</h2>

<%= form_tag({}, {id: 'enrollment-form'}) do %>
  <label for="enrollment-emails">Paste in a list of e-mails</label>
  <div><%= text_area_tag :emails, nil, id: 'enrollment-emails', rows: 12 %></div>
  <div class="submit-cancel">
    <%= cancel %>
    <%= submit_tag 'Enroll students' %>
  </div>
<% end %>

<% if @enrollments.any? %>
  <div id="pending-enrollments">
    Waiting for the following students:
    <ul>
      <% @enrollments.each do |enrollment| %>
        <li><%= render enrollment %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= focus 'enrollment-emails' %>
