<% title 'Your courses' %>

<% if @studying.any? %>
  <h2>
    Courses you are studying
    <% if @enrollment_count > 0 %>
      <%= link_to pluralize(@enrollment_count, 'pending enrollment'), enrollments_path %>
    <% end %>
  </h2>
  <ul id="studying-courses">
    <% @studying.each do |course| %>
      <li>
        <%= link_to course.name, studying_path(course) %>
        <span>
          <%= if_present(course.assignments.next) do |assignment| %>
            <%= assignment.name %>
            is due <%= relative_date(assignment.due_date) %>
          <% end %>
		    </span>
		</li>
    <% end %>
  </ul>
<% end %>

<% if current_person.registered_as_teacher && @teaching.empty? %>
  <%= render 'first_course' %>
<% end %>

<% if @teaching.any? %>
  <h2>
    Courses you teach
    <%= link_to 'Start a new course »', new_teaching_path %>
  </h2>
  <ul>
    <% @teaching.each do |course| %>
      <li><%= link_to course.name, teaching_path(course) %></li>
    <% end %>
  </ul>
<% end %>