<div>
  <div><%= fields.label :full_name, 'Your name' %></div>
  <div><%= fields.text_field :full_name %></div>
  <div><%= fields.error_message_on :full_name, :prepend => 'Your name ' %></div>
</div>
<div>
  <div><%= fields.label :email %></div>
  <div><%= fields.text_field :email %></div>
  <div><%= fields.error_message_on :email, :prepend => 'Email ' %></div>
</div>
<div>
  <div><%= fields.label :password %></div>
  <div><%= fields.password_field :password %></div>
  <div><%= fields.error_message_on :password, :prepend => 'Password ' %></div>
</div>

<%= focus 'enrollment_student_full_name' %>