<% title 'Lost password' %>

<% form_for @lost_password do |f| %>
  <div>
    <p><%= f.label :email, 'Your email' %></p>
    <p><%= f.text_field :email %></p>
    <p><%= f.error_message_on :email, :prepend_text => 'Email ' %></p>
  </div>  
  <div>
    <%= f.submit 'Reset password' %>
  </div>
<% end %>

<%= focus 'lost_password_email' %>