<%= stylesheet_link_tag 'form' %>

<% form_for @lost_password do |f| %>
  <div>
    <%= f.label :email, 'Your email' %>
    <%= f.text_field :email %>
    <%= f.error_message_on :email, :prepend_text => 'Email ' %>
  </div>  
  <div>
    <%= f.submit 'Reset password' %>
  </div>
<% end %>