<h2>
  <%= @studier.full_name %>'s Homework
</h2>

<ul class="assignments">
  <% @assignments.each do |assignment| %>
    <li>
      <span class="assignment-name">
        <%= assignment.name %>
      </span>
      <% @studier.submission_for(assignment).tap do |submission| %>
        <span class="preview">
          <% if submission.present? %>
            “<%= link_to composition_preview(submission, 200),
                        teaching_composition_path(current_course, submission) %>”
          <% else %>
            <em>No homework submitted</em>
          <% end %>
        </span>
      <% end %>
      <div class="actions">
        <% @studier.submission_for(assignment).tap do |submission| %>
          <% if submission.present? %>
            <%= link_to 'Grade', teaching_composition_path(current_course, submission) %>
            |
            <%= link_to 'Edit assignment', edit_teaching_assignment_path(current_course, assignment) %>
            |
            <span class="handed-in-at">
              Turned in 
              <% if assignment.late_submission? submission %>
                <span class="late">
                  <%= distance_of_time_in_words(assignment.due_at, submission.handed_in_at) %> late
                </span>
              <% end %>
              at <%= hour(submission.handed_in_at) %>,
              <%= submission.handed_in_at.strftime('%b %d') %>
            </span>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
