<div class="name">
  <%= link_to course.name, teaching_path(course) %>
</div>

<div>
  <%= link_to pluralize(course.studiers.count, 'student'), teaching_studiers_path(course) %>
</div>

<div>
  <%= link_to pluralize(course.assignments.count, 'assignments'), teaching_assignments_path(course) %>
</div>

<div class="date-range">
  <%= course_date_range course %>
  (<%= distance_of_course_in_words course %>)
</div>
