<%= yui_stylesheet 'calendar/assets/skins/sam/calendar' %>
<%= stylesheet_link_tag 'date_selector' %>

<% course_form @course do |f| %>
  <div class="course-name">
    <div><%= f.label :name, 'Course name' %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.error_message_on :name, :prepend_text => 'Course name ' %></div>
  </div>
  <div class="fields">
    <div class="date-selector">
      <div><%= f.label :start_date, 'from' %></div>
      <div><%= f.text_field :start_date, :value => course_start_date(@course), :autocomplete => 'off' %></div>
      <div class="calendar-wrap">
        <div class="calendar"></div> 
      </div>
      <%= date_format_div(@course, :start_date) %>
    </div>
    <div class="date-selector">
      <div><%= f.label :end_date, 'to' %></div>
      <div><%= f.text_field :end_date, :value => course_end_date(@course), :autocomplete => 'off' %></div>
      <div class="calendar-wrap">
        <div class="calendar"></div> 
      </div>
      <%= date_format_div(@course, :end_date) %>
    </div>
    <br />
  </div>
  <div class="submit-cancel">
    <%= cancel %>
    <%= f.submit save_course_text(@course) %>
  </div>
<% end %>

<%= focus 'course_name' %>

<%= yui_javascript 'calendar/calendar-min' %>
<%= javascript_include_tag 'date_selector' %>

<script> 
YAHOO.util.Event.onDOMReady(function() {
  HW.dateSelector('course-form');
});
</script>