<%= stylesheet_link_tag 'form' %>

<style>
.course-dates {
  overflow: hidden;
}

.course-date {
  float: left;
  margin-right: 6px;
}

.course-date input[type="text"] {
  width: 10em;
}
</style>

<% form_for @course, :url => teachings_path do |f| %>
  <div>
    <p><%= f.label :name, 'Course name' %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Course name ' %></p>
  </div>
  <div>
    <p><%= f.label :description %></p>
    <p><%= f.text_field :description %></p>
    <p><%= f.error_message_on :description, :prepend_text => 'Description ' %></p>
  </div>
  <div class="course-dates">
    <div class="course-date">
      <p><%= f.label :start_date, 'from' %></p>
      <p><%= f.text_field :start_date %></p>
    </div>
    <div class="course-date">
      <p><%= f.label :end_date, 'to' %></p>
      <p><%= f.text_field :end_date %></p>
    </div>
  </div>
  <div>
    <%= f.submit 'Create course' %>
  </div>
<% end %>