<% form_for @course, :url => teachings_path do |f| %>
  <div>
    <%= f.label :name, 'Course name' %>
    <%= f.text_field :name %>
    <%= f.error_message_on :name, :prepend_text => 'Course name ' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.error_message_on :description, :prepend_text => 'Description ' %>
  </div>
  <div>
    <%= f.label :start, 'from' %>
    <%= f.text_field :start %>
    <%= f.label :end, 'to' %>
    <%= f.text_field :end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>