<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event', 'calendar/calendar' %>
<%= yui_stylesheet 'calendar/assets/skins/sam/calendar' %>
<%= javascript_include_tag 'date_selector' %>

<style>
#course-form .course-name {
}

#course-form .fields {
  overflow: hidden;
}

#course-form .fields > div {
  float: left;
  height: 300px;
  margin-right: 9px;
  width: 145px;
}

#course-form .fields > div input[type="text"] {
  width: 100%;
}

#course-form .fields > div.submit {
  margin-top: 20px;
}

#course-form .calendar-wrap {
  margin-top: 4px;
  position: relative;
  width: 300px;
}

#course-form .calendar {
  display: none;
  left: 0;  
  position: absolute;
  top: 0;
}
</style>

<% form_for @course, :url => teachings_path, :html => {:id => 'course-form'} do |f| %>
  <div class="course-name">
    <p><%= f.label :name, 'Course name' %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Course name ' %></p>
  </div>
  <div class="fields">
    <div id="start_date" class="yui-skin-sam">
      <p><%= f.label :start_date, 'from' %></p>
      <p><%= f.text_field :start_date, :autocomplete => 'off', :value => course_start_date(@course) %></p>
      <div class="calendar-wrap yui-skin-sam">
        <div class="calendar"></div> 
      </div>
      <p><%= f.error_message_on :start_date %></p>
    </div>
    <div id="end_date" class="yui-skin-sam">
      <p><%= f.label :end_date, 'to' %></p>
      <p><%= f.text_field :end_date, :autocomplete => 'off', :value => course_end_date(@course) %></p>
      <div class="calendar-wrap yui-skin-sam">
        <div class="calendar"></div> 
      </div>
      <p><%= f.error_message_on :end_date %></p>
    </div>
    <div class="submit">
      <%= f.submit 'Create course »' %>
    </div>
  </div>
<% end %>

<%= focus 'course_name' %>

<script> 
YAHOO.util.Event.onDOMReady(function() {
  HW.dateSelector('start_date');
  HW.dateSelector('end_date');
});
</script>