<%= yui_stylesheet 'calendar/assets/skins/sam/calendar' %>
<%= stylesheet_link_tag 'date_selector' %>

<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event', 'calendar/calendar' %>
<%= javascript_include_tag 'date_selector' %>

<% form_for @course, :url => teachings_path, :html => {:id => 'course-form'} do |f| %>
  <div class="course-name">
    <p><%= f.label :name, 'Course name' %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Course name ' %></p>
  </div>
  <div class="fields">
    <div id="start-date">
      <p><%= f.label :start_date, 'from' %></p>
      <p><%= f.text_field :start_date, :autocomplete => 'off', :value => course_start_date(@course) %></p>
      <div class="calendar-wrap">
        <div class="calendar"></div> 
      </div>
      <p><%= f.error_message_on :start_date %></p>
    </div>
    <div id="end-date">
      <p><%= f.label :end_date, 'to' %></p>
      <p><%= f.text_field :end_date, :autocomplete => 'off', :value => course_end_date(@course) %></p>
      <div class="calendar-wrap">
        <div class="calendar"></div> 
      </div>
      <p><%= f.error_message_on :end_date %></p>
    </div>
    <div class="submit">
      <%= f.submit 'Create course »' %>
    </div>
  </div>
<% end %>

<%= focus 'course_name' %>

<script> 
YAHOO.util.Event.onDOMReady(function() {
  HW.dateSelector('start-date');
  HW.dateSelector('end-date');
});
</script>