<%= yui_javascript 'yahoo-dom-event/yahoo-dom-event', 'calendar/calendar' %>
<%= yui_stylesheet 'calendar/assets/skins/sam/calendar' %> 

<style>
#course-form .course-name {
}

#course-form .fields {
  overflow: hidden;
}

#course-form .fields > div {
  float: left;
  height: 300px;
  margin-right: 9px;
  width: 145px;
}

#course-form .fields > div input[type="text"] {
  width: 100%;
}

#course-form .fields > div.submit {
  margin-top: 20px;
}

#course-form .calendar-wrap {
  margin-top: 4px;
  position: relative;
  width: 300px;
}

#course-form .calendar {
  display: none;
  left: 0;  
  position: absolute;
  top: 0;
}
</style>

<% form_for @course, :url => teachings_path, :html => {:id => 'course-form'} do |f| %>
  <div class="course-name">
    <p><%= f.label :name, 'Course name' %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.error_message_on :name, :prepend_text => 'Course name ' %></p>
  </div>
  <div class="fields">
    <div id="start_date" class="yui-skin-sam">
      <p><%= f.label :start_date, 'from' %></p>
      <p><%= f.text_field :start_date %></p>
      <div class="calendar-wrap yui-skin-sam">
        <div class="calendar" id="start_date_calendar"></div> 
      </div>
      <p><%= f.error_message_on :start_date %></p>
    </div>
    <div id="end_date" class="yui-skin-sam">
      <p><%= f.label :end_date, 'to' %></p>
      <p><%= f.text_field :end_date %></p>
      <div class="calendar-wrap yui-skin-sam">
        <div class="calendar" id="end_date_calendar"></div> 
      </div>
      <p><%= f.error_message_on :end_date %></p>
    </div>
    <div class="submit">
      <%= f.submit 'Create course »' %>
    </div>
  </div>
<% end %>

<%= focus 'course_name' %>

<script> 
YAHOO.util.Event.onDOMReady(function() {
  var calendars = [];

  function fieldToCalendar(field, calendar) {
    if (field.value != "") { 
      calendar.select(field.value); 
      var date = calendar.getSelectedDates()[0]; 
      if (date != null) {
        calendar.cfg.setProperty("pagedate", (date.getMonth() + 1) + "/" + date.getFullYear());
        calendar.render(); 
      }
    }
  }
  
  function calendarToField(calendar, field) {
    var date = calendar.getSelectedDates()[0];
    field.value = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();     
  }
  
  function configureCalendar(attribute) {
    var calendar = new YAHOO.widget.Calendar(attribute + '_calendar'),
        field = document.getElementById('course_' + attribute); 

    function handleCalendarSelect() {
      calendarToField(calendar, field);
      calendar.hide();
      YAHOO.util.Event.removeListener(field, "focus", handleFieldFocus);
      field.focus();
      YAHOO.util.Event.addListener(field, "focus", handleFieldFocus);
    }
    
    function handleFieldChange() {
      fieldToCalendar(field, calendar);
    }
    
    function handleFieldFocus() {
      for (var i = 0; i < calendars.length; i++) {
        calendars[i].hide();
      }
      calendar.show();
    }

    calendar.selectEvent.subscribe(handleCalendarSelect);
    YAHOO.util.Event.addListener(field, "change", handleFieldChange);
    YAHOO.util.Event.addListener(field, "focus", handleFieldFocus);
    YAHOO.util.Event.addListener(attribute, "click", function(e) {
      YAHOO.util.Event. stopEvent(e);
    });
    YAHOO.util.Event.addListener(document, "click", calendar.hide, calendar, true);

    calendars.push(calendar);
    calendar.render();    
    handleFieldChange();
  }

  configureCalendar('start_date');
  configureCalendar('end_date');
});
</script>