<% if @course.studiers.empty? && @course.assignments.empty? %>
  <%= render 'empty_course' %>
<% else %>
  <div id="course-show">
    <!-- <%= course_date_range @course %> -->
    <!-- (Ends in <%= time_ago_in_words @course.end_date %>) -->
  
    <div class="studiers">
      <%= link_to pluralize(@course.studiers.count, 'student'), teaching_studiers_path(@course) %>
      <%= link_to 'Enroll students', teaching_enrollments_path(@course) %>
    </div>

    <div class="assignments">
      <%= link_to pluralize(@course.assignments.count, 'assignment'), teaching_assignments_path(@course) %>
      <%= link_to 'New assignment', new_teaching_assignment_path(@course) %>
    </div>
  </div>
<% end %>