<% if @studiers_count == 0 && @assignments_count == 0 %>
  <%= render 'empty_course' %>
<% else %>
  <h2>
    Course Summary
    <%= link_to 'Edit course settings', edit_teaching_path(current_course) %>
  </h2>
  <div class="summary">
    <% current_course.assignments.next.tap do |assignment| %>
      <% if assignment.present? %>
        Next homework,
        <%= link_to h(assignment.name), teaching_assignment_path(current_course, assignment) %>,
        is due
        <%= relative_assignment_due_date(assignment) %>.
      <% else %>
        No upcoming homework.
      <% end %>
    <% end %>
  </div>

  <div class="stats">
    <div class="stat">
      <%= link_to teaching_studiers_path(current_course), :class => 'count' do %>
        <strong>
          <%= @studiers_count %>
        </strong>
        <span>
          <%= @studiers_count == 1 ? 'student' : 'students' %>
        </span>
      <% end %>
      <%= link_to 'Enroll students »', teaching_enrollments_path(current_course), :class => 'add' %>
    </div>
    <div class="stat">
      <%= link_to teaching_assignments_path(current_course), :class => 'count' do %>
        <strong>
          <%= @assignments_count %>
        </strong>
        <span>
          <%= @assignments_count == 1 ? 'assignment' : 'assignments' %>
        </span>
      <% end %>
      <%= link_to 'Add homework »', new_teaching_assignment_path(current_course), :class => 'add' %>
    </div>
  </div>
<% end %>