<% title 'Grading' %>
<% javascripts 'hw/selection', 'hw/annotator' %>

<h2>
  <%= current_composition.student.full_name %>'s
  Homework
</h2>

<div class="tip">
  To annotate, select text with your mouse.
</div>


<div id="annotation-margin">
  <textarea id="annotation"></textarea>
  <p>
    <button id="annotate">Annotate Selection</button>
  </p>
</div>

<%= form_for :current_composition,
             :url => teaching_composition_path(current_course, current_composition),
             :html => {:method => :put, :id => 'annotation-form'} do |f| %>
  <div id="submission-text">
    <%= raw current_composition.annotated %>
  </div>
  <%= f.submit 'Save changes', :id => 'save-changes' %>
<% end %>

<script>
$(function() {
  var annotator = HW.Annotator(<%= annotations_to_json(current_composition.annotations) %>);

  function removeWrap(annotation) {
    $('#submission-text .annotation.a_' + annotation.identifier).each(function() {
      $(this).replaceWith(this.childNodes);
    });
  }
  
  function submitData() {
    return {
      'composition': {
        'annotated': $('#submission-text').html(),
        'annotations_attributes': annotator.all()
      }
    };
  }

  $('#annotation-margin').dialog({autoOpen: false});

  HW.selection.change(function () {
    $('#annotation-margin').dialog('open');
  });

  $('#annotate').click(function() {
    var annotation = annotator.create($('#annotation').val(), HW.selection.text());

    HW.selection.wrap(function() {
      var span = document.createElement('span');
      span.className = 'annotation a_' + annotation.identifier;
      return span;
    });

    $('#annotation').empty();
    $('#annotation-margin').dialog('close');
  });

  $('#annotation-form').submit(function(event) {
    event.preventDefault();
    $.putJSON(this.action, submitData(), function(data) {
      alert(data.foo);
    });
  });
});
</script>
