<div class="sub menu">
  <%= link_to current_course.name,
              studying_path(current_course),
              class: 'title' %>
  <ul class="topics">
    <%= topic_tag :li, 'homework' do %>
      <%= link_to 'Due Homework', studying_path(current_course) %>
    <% end %>
    <%= topic_tag :li, 'students' do %>
      <%= link_to 'Past Homework', studying_path(current_course) %>
    <% end %>
  </ul>
</div>