<html>
<head>
  <%= stylesheet_link_tag 'playground' %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<body class="playground">
  <div class="header">
    <div class="menu">
      <div class="logo">
        <% link_to root_path do %>
          Homework Bin
        <% end %>
      </div>
      <ul class="links">
        <li><%= link_to "Start a free course", signup_path %></li>
        <li><%= link_to "Sign in", login_path %></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>