<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'core', 'form', 'playground' %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<body class="playground">
  <div class="header">
    <div class="main menu">
      <% link_to root_path, :class => 'logo' do %>
        Homework Bin
      <% end %>
      <ul class="links">
        <li><%= link_to "Start a free course", signup_path %></li>
        <li>|</li>
        <li><%= link_to "Sign in", login_path %></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <% if flash[:warning].present? %>
      <%= content_tag :div, flash[:warning], :class => 'warning' %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>