<!DOCTYPE html>
<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'core', 'form' %>
  <%= stylesheet_link_tag "studying/#{controller_name}" %>
  <%= javascript_include_tag 'jquery' %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<body class="studying yui-skin-sam">
  <div class="header">
    <div class="main menu">
      <% link_to studyings_path, :class => 'logo' do %>
        Homework Bin
      <% end %>
      <ul class="links">
        <li><%= link_to 'Homework', studyings_path %></li>
        <li>|</li>
        <li><%= link_to 'Settings', teaching_person_path %></li>
        <li>|</li>
        <li><%= logout %></li>
      </ul>
    </div>
    <% if current_course.present? %>
      <div class="sub menu">
        <%= link_to current_course.name,
                    studying_path(current_course),
                    :class => 'title' %>
        <ul class="topics">
          <li>
            <%= link_to 'Past Assignments', studying_path(current_course) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>