<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'core', 'form', 'studying' %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<body class="studying">
  <div class="header">
    <div class="main menu">
      <% link_to studyings_path, :class => 'logo' do %>
        Homework Bin
      <% end %>
      <ul class="links">
        <li><%= link_to 'Courses', studyings_path %></li>
        <li>|</li>
        <li><%= link_to 'Settings', teaching_person_path %></li>
        <li>|</li>
        <li><%= link_to 'Sign out', logout_path %></li>
      </ul>
    </div>
    <% if current_course.present? %>
      <div class="course menu">
        <div class="course-name">
          <%= current_course.name %>
          »
        </div>
        <ul class="course-operations">
          <li>
            <%= link_to 'Assignments', teaching_assignments_path(current_course) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>