<!DOCTYPE html>
<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'layouts/whiteboard', 'shared/fonts', 'shared/form' %>
  <%= controller_stylesheet_tag %>
  <%= javascript_include_tag 'jquery' %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<% body do %>
  <div class="header">
    <div class="main menu">
      <% link_to teachings_path, :class => 'logo' do %>
        Homework Bin
      <% end %>
      <ul class="links">
        <li><%= link_to 'Courses', teachings_path %></li>
        <li>|</li>
        <li><%= link_to 'Settings', teaching_person_path %></li>
        <li>|</li>
        <li><%= logout %></li>
      </ul>
    </div>
    <% if current_course.present? %>
      <div class="sub menu">
        <%= link_to current_course.name,
                    teaching_path(current_course),
                    :class => 'title' %>
        <ul class="topics">
          <% topic_tag :li, 'homework' do %>
            <%= link_to 'Homework', teaching_assignments_path(current_course) %>
          <% end %>
          <% topic_tag :li, 'students' do %>
            <%= link_to 'Students', teaching_studiers_path(current_course) %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
<% end %>
</html>