<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'core', 'form' %>
  <%= stylesheet_link_tag 'teaching/layout', 'teaching/classes' %>
  <%= stylesheet_link_tag "teaching/#{controller_name}" %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<body class="teaching  yui-skin-sam">
  <div class="header">
    <div class="main menu">
      <% link_to teachings_path, :class => 'logo' do %>
        Homework Bin
      <% end %>
      <ul class="links">
        <li><%= link_to 'Courses', teachings_path %></li>
        <li>|</li>
        <li><%= link_to 'Settings', teaching_person_path %></li>
        <li>|</li>
        <li><%= logout %></li>
      </ul>
    </div>
    <% if current_course.present? %>
      <div class="course menu">
        <%= link_to current_course.name,
                    teaching_path(current_course),
                    :class => 'course-name' %>
        <ul class="course-operations">
          <li>
            <%= link_to 'Homework', teaching_assignments_path(current_course) %>
          </li>
          <li>
            <%= link_to 'Students', teaching_studiers_path(current_course) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>