<!DOCTYPE html>
<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'layouts/whiteboard', 'shared/fonts', 'shared/form', 'jquery/ui' %>
  <%= csrf_meta_tag %>
  <%= controller_stylesheet_tag %>
  <%= javascript_include_tag 'json2', 'jquery', 'jquery-ui', 'rails', 'hw/hw' %>
  <%= yield :javascripts %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<%= body do %>
  <div class="header">
    <div class="main menu">
      <%= link_to root_path, class: 'logo' do %>
        Homework Bin
      <% end %>
      <%= render 'layouts/global_links' %>
    </div>
    <% if current_course.present? %>
      <%= render sub_menu_partial %>
    <% end %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
<% end %>
</html>