<!DOCTYPE html>
<html>
<head>
  <%= yui_stylesheet 'cssreset/reset-min' %>
  <%= stylesheet_link_tag 'layouts/whiteboard', 'shared/fonts', 'shared/form' %>
  <%= controller_stylesheet_tag %>
  <%= javascript_include_tag 'jquery' %>
  <title>
    Homework Bin<%= yield :title %>
  </title>
</head>
<%= body do %>
  <div class="header">
    <div class="main menu">
      <%= link_to root_path, :class => 'logo' do %>
        Homework Bin
      <% end %>
      <%= render 'layouts/links' %>
    </div>
    <% if current_course.present? %>
      <%= render 'layouts/submenu' %>
    <% end %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
<% end %>
</html>